form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: calc(0px - 1.5rem - 3px);
  width: 100%;
}

input[type="text"] {
  padding: 1rem;
  width: 100%;
  outiline: none;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  color: var(--white-200);
}

input[type="text"]::placeholder {
  color: var(--gray-300);
  font-size: 0.875rem;
}

.newTask button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--white-200);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.newTask button:hover {
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 4.063rem 0 1.5rem;
}

.createdTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.createdTasks p {
  color: var(--blue);
  font-weight: 700;
  font-size: 0.875rem;
}

.createdTasks span,
.completedTasks span {
  padding: 2px 8px;
  background: var(--gray-400);
  color: var(--white-200);
  font-weight: 600;
  font-size: 0.875rem;
  border-radius: 15px;
}

.completedTasks {
  display: flex;
  gap: 0.5rem;
}

.completedTasks p {
  color: var(--purple);
}

.list {
}
